<!-- Style the 'strong' tag to be italic and light. Also it should be positioned to the right.  -->
<div id="home">
  <div id="greeting">
    <h1>Hello<ins>.</ins><br>I am<br><ins>M</ins>aría</h1>
    <h2>and I am a <em>full-stack web developer</em>.</h2>
  </div>
</div>
