#home {
  padding: 12px;
  height: 100vh;
}
 #greeting {
  text-align: left;
 }

 #greeting h1 {
  color: #5B1354;
  font-weight: bold;
  font-size: 132px;
 }

 #greeting h2 {
  color: #F6EFEF;
 }

 #greeting em {
  color: #F6EFEF;
  font-weight: lighter;
 }

 #greeting ins {
  color: #E9EFCF;
  text-decoration: none;
  font-weight: bold;
 }
